:root {
    --palette-bg: white;    /* Overridden by js */
    --palette-fg: black;    /* Overridden by js */
    --palette-pop: red;     /* Overridden by js */
    --palette-darker: grey; /* Overridden by js */
    --palette-lighter: gray;/* Overridden by js */

    --palette-0: #000000;   /* Overridden by js */
    --palette-1: #FF0000;   /* Overridden by js */
    --palette-2: #00FF00;   /* Overridden by js */
    --palette-3: #0000FF;   /* Overridden by js */
    --palette-4: #FFFF00;   /* Overridden by js */
    --palette-5: #00FFFF;   /* Overridden by js */
    --palette-6: #FF00FF;   /* Overridden by js */
    --palette-7: #FFFFFF;   /* Overridden by js */
}

/* Usage example */
// html {
//   background-color: var(--palette-darker);
// }

/* Palette test display */
.palette_test {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.palette_test .palette_test{
    width: 10%;
    height: 10%;
    display:block;
}

@mixin paletteMarkerBeforeCommon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    text-align: center;
}

.palette_test div {
    &:before {
        @include paletteMarkerBeforeCommon;
    }
    @for $i from 1 through 8 {
        &:nth-of-type(#{$i}) {
            background-color: var(--palette-#{ $i - 1 });
            // special case for pop
            @if $i == 8 {
                background-color: var(--palette-pop);
            }
            left: (10% * ($i - 1));
            &:before {
                // Default content
                content: "#{$i - 1}";
                // Specific cases
                @if $i == 1 {
                    content: "0 fg";
                } @else if $i == 3 {
                    content: "2 lighter";
                } @else if $i == 4 {
                    content: "3 midtone";
                } @else if $i == 6 {
                    content: "6 darker";
                    color: white;
                } @else if $i == 7 {
                    content: "7 bg";
                    color: white;
                } @else if $i == 8 {
                    content: "pop";
                }
            }
        }
    }
}
